.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
}
