.cards__item {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 100px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px;
    list-style-type: none;
}

.cards__item:nth-of-type(3) {
    margin-right: 0;
}
